{% extends "base.html" %}
{% block content %}
<div class="row">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Path</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
    {% for file in files %}
      <tr>
        <td><a href="{{ file['path'] }}">{{file['name']}}</a></td>
        <td>
          {% if file['delete'] %}
          <button id="{{ file['path'] }}" type="button" class="btn btn-danger delete-btn">Delete</button>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<form id="uploadForm" style="margin-top: 2em" enctype="multipart/form-data">
  <div class="row text-center">
   <div class="col-auto">
      <label for="fileupload" class="form-label"></label>
    </div>
    <div class="col-auto">
      <input class="form-control" id="fileupload" type="file">
    </div>
    <div class="col-3">
      <button type="submit" class="btn btn-primary mb-3">Upload</button>
    </div>
  </div>
</form>
<script>
  $("#uploadForm").submit(function (evt) {
      evt.preventDefault();
      let formData = new FormData();
      const file = $('#fileupload')[0].files[0];
      if (file == null) {
          alert('Did not choose file!')
          return
      }
      formData.append("file", file);
      $.ajax({
          url: '/upload?path='+location.pathname,
          type: 'POST',
          data: formData,
          async: false,
          cache: false,
          contentType: false,
          enctype: 'multipart/form-data',
          processData: false,
          success: function (response) {
            let resp = 'Success!'
            if (response) {
              resp += '\nServer response: ' + response.status + ' ' + response.statusText;
            }
            alert(resp);
          },
          error: function (response) {
              let resp = 'Error occurred.'
              if (response) {
                resp += '\nServer response: ' + response.status + ' ' + response.statusText;
              }
              alert(resp)
          }
       });

       return false;
  })
  $(".delete-btn").click(function (){
      $.ajax({
          url: "/delete?path="+this.id,
          type: 'POST',
          success: function (response) {
            let resp = 'Success!'
            if (response) {
              resp += '\nServer response: ' + response.status + ' ' + response.statusText;
            }
            alert(resp);
          },
          error: function (response) {
              let resp = 'Error occurred.'
              if (response) {
                resp += '\nServer response: ' + response.status + ' ' + response.statusText;
              }
              alert(resp)
          }
      })
  })
</script>
{% endblock %}